.inner-interface
{
  width: 60%;
  background-color:rgb(195, 184, 255);
  height: 70vh;
  padding: 20px;
  position: absolute;
  top: 25%;
  left: 20%;
  bottom: 10%;
  margin: 0 auto;
  border: 10px solid rgb(56, 56, 56);
  border-radius: 20px;
  border-style: ridge;
  
}
.outer-interface
{
  position: relative;
  background-color: rgb(88, 99, 255);
  height:100vh;
}